*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ponpis',Verdana, Geneva, Tahoma, sans-serif;
    outline: nome;
}

body{
    background-color: #fff
}

.text-center{
    color: black;
}

button{
    background-color:deeppink !important;
}